<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hotelkaro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Nearby"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Coupon"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Fillter"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.BookingDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.ReviewBooking"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.ReviewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Payment"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.BookingSuccess"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.MyTrip"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.RoomList"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.DestinationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.HotelMap"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.HotelList"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.OtpVerification"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.MobileNumberActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCHeAJBmKB96xYiYubA2fAIeIgk6VlMVQA" />
    </application>

</manifest>